/* Se importan las fuentes que se usaran.*/
@font-face {
    font-family: 'aldrich';
    src: url(../fonts/Aldrich-Regular.ttf);

    
}

@font-face {
   font-family: 'artifika';
  src: url(../fonts/Artifika-Regular.ttf);    
}

@font-face {
   font-family: 'advent';
  src: url(../fonts/AdventPro-Regular.ttf);    
}


/* Se aplican estilos personalizados a los titulos */
h1  {
  font-family: 'aldrich';
   color: #374046;
   display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */

  
}
.page-header p {
  font-family: 'aldrich';
  display: flex;
  justify-content: center; /* align horizontal */
}
.element{
    color: #f00 ;
}
.start-here{
    padding-top: 20px; 
}


/* Estilos que ayudan a la correcta visualización */
section {
    text-align: justify;
    margin-bottom: 20px;
}

.correcto {
    visibility: hidden;
    margin-top: 10px;
}

.incorrecto {
    visibility: hidden;
}

.connection {
  width: 100%;
  margin-top: 15px;
}
/* Cambia el icono de las listas por un chulo verde */
ul {
    list-style-image: url('imagen/icon_check.png');
}
/* Da estilo a las cabeceras de las secciones*/
.col-md-6 h3 {
  background-color: #f5f4f4;
  color: #4bae4f;
  margin: 0;
  padding: 10px 10px 10px 20px;
  font-family: 'artifika';

  

}
/* Da estilo a las cabeceras de las secciones*/
.utilitario h3{
  background-color: #f5f4f4;
  color: #4bae4f;
  margin: 0;
  padding: 10px 10px 10px 20px;
  font-family: 'artifika';

}
/* Enmarca un texto y cambia la fuente */
.texto {
  
  color: #374046;
  border-style: solid;
  border-width: 2px;
  border-color: #f5f4f4;
  padding: 10px;
  
  text-align: justify;
  font-family: 'artifika';

}
/* Utiliza una fuente con justificación */
.texto-wob {
  
  color: #374046;
  
  
  text-align: justify;
  font-family: 'artifika';

}
/* Utiliza una fuente sin justificación */
.font-ad {
  color: #374046;
  font-family: 'artifika';
}
/* Estilo para ayudar a la correcta visualización del texto dentro de margenes estilizados */
.corrimiento {
  padding: 10px 10px 10px 20px;
}

/* Se estiliza el footer para que haga contraste con el contenido y se marque el fin del documento*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
/* Se configura el footer par que se muestre siempre abajo y con los estilos correspondientes*/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #f5f5f5;
}

footer {
  background-color: #ececec;

}
/* Se estiliza el footer para que haga contraste con el contenido y se marque el fin del documento*/
.footerContent {
  width: 100%;
  margin: 0 auto;
  height: 70px;
  text-align: center;
  padding-top: 20px;
}

.footerContent a {
  font-family: 'advent';
  text-decoration: none;
  color: #6c7b84;
  
}

.footerContent a:hover {
  text-decoration: none;
  color: #4bae4f;
  
}

/* Se utiliza para centrar las imagenes */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}